<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Welcome to {{ title }}!</h1>

  <div fxLayoutGap="10px">
      <mat-card>
          <mat-toolbar color="primary">
              <mat-toolbar-row>
                <span>Add New LP</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <app-newlpform (newlpItemSubmitted)="newlpItem($event)"></app-newlpform>
      </mat-card>
      <mat-card>
          <mat-toolbar color="accent">
              <mat-toolbar-row>
              <span>Current LPs In Collection</span>
              </mat-toolbar-row>
          </mat-toolbar>
          <app-lpcollection></app-lpcollection>
      </mat-card>  

  </div>

</div>




